  <style type="text/css">
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #E5E5E5;
    background-color: #E5E5E5;
    color: #E5E5E5;
  }
  .seperator{
    color: #c4c0c0;
  }
  </style>
  <section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="article.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<!-- Main picture -->
<div class="container">
	<div class= "col-md-6 mainPic">
		<img width="500" height="300" ng-src="{{article.apartment_features.photos.media[0].media_url}}">
	</div>
	<!-- Listing Address -->
  <div class="col-md-6 listingAddress text-center">
    <h3 style="font-weight: 200;" data-ng-bind="article.address + ' #' + article.apt_number" id="address"></h3>
    <h3 data-ng-bind="article.sales_terms.sales | currency"></h3>
  <!-- Bed, bath, sqfootage -->
  <br />
      <hr style="height:1px;border:none;">
    <ul style="display: inline-flex; list-style-type:none;">
      <li><span data-ng-bind="article.details.num_bedrooms"></span> Bed <span class="seperator"> | </span> </li>
      <li><span data-ng-bind="article.details.num_baths"></span> Bath <span class="seperator"> | </span> </li>
      <li><span data-ng-bind="article.details.approx_square_footage"></span>Sq Ft  </li>
    </ul>
      <hr style="height:1px;border:none;">
      <span data-ng-bind="article.ownership + ' In ' + article.neighborhood"  id="neighborhood"></h3>
  </div>

<!-- Contact agent buton modal -->
	<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" style = "overflow-y: initial !important"> Contact Agent</h3>
        </div>
        <div ng-controller="contactAgentCtrl">
        <div class="modal-body" style="height: 250px; overflow-y: auto;">
        <input type="text" data-ng-model="contactAgentInput" placeholder="I'm interested in this property" width="100%" style="height: 200px; width: 700px;">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="sendMail()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </div>
    </script>
	<!-- Contact button -->
	<div class="col-md-offset-6 col-md-6 text-center form-group contactButton">
		<button ng-click="open('lg')" class="btn btn-primary">Contact Agent</button>
	</div>
<script type="text/javascript">"public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"</script>
  </div>
<!-- Accordian  -->
<div class="col-md-6" ng-controller="AccordionDemoCtrl">
  <!-- <p>
    <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
    <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
  </p> -->

  <!-- <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label> -->
  <accordion close-others="oneAtATime">
    <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    <accordion-heading>
	Description <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstDisabled}"></i>
    </accordion-heading>
      <span data-ng-bind="article.details.property_description"></span> 

      This listing courtesy of <span data-ng-bind="article.apartment_features.agent.company_name"></span>
    </accordion-group>
    <accordion-group is-open="status.isSecondOpen" is-disabled="status.isSecondDisabled"> 
    	<accordion-heading>
    	Amenities <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isSecondOpen, 'glyphicon-chevron-right': !status.isSecondDisabled}"></i>
    	</accordion-heading>
    		<ul>
      		<li>Bike Room</li>
      		<li>Doorman</li>
      		<li>Elevator</li>
      		<li>Laundry in Building
</li>
      		<li>Pets Allowed
</li>
      		<li>Virtual Doorman
</li>
      		</ul>
    </accordion-group>
<!--     <accordion-group heading="Building Info">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group> -->
    <accordion-group is-open="status.open">
        <accordion-heading>
            Building Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>

<!-- Map picture -->
<div class="mapPic col-md-offset-1 col-md-4">
	<div id="map-canvas">
			<map zoom="15" center="[{{article.latitude}},{{article.longitude}}]">
			<div ng-include src="view.getView()"></div> 
      <marker position="[{{article.latitude}},{{article.longitude}}]" dragglele="true" opacity = "0.8" ></marker>
		</map>
		</div>
</div>

</div>
</section>